[Unit]
Description=harmony service
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=1
User={{ USER.user }}
WorkingDirectory={{ USER.home }}
{% if node_type == "Explorer" %}
ExecStart={{ USER.home }}/harmony --run=explorer --run.archive --run.shard={{ explorer_shard_index }} --http.ip 0.0.0.0 --ws.ip 0.0.0.0
{% else %}
ExecStart={{ USER.home }}/harmony --run.legacy --http.ip 0.0.0.0
{% endif %}
StandardError=syslog
SyslogIdentifier=harmony
StartLimitInterval=0
LimitNOFILE=65536
LimitNPROC=65536

[Install]
WantedBy=multi-user.target